body {
    font-family: sans-serif;
    background: black;
    color: white;
    text-align: center;
    margin: 0;
  }
  
  header {
    background: darkblue;
    padding: 2em;
  }
  
  main {
    padding: 2em;
  }
  #mars {
    background-color: #f5e1a4;
    padding: 20px;
    border-radius: 10px;
  }
  